extends ./layout.jade
block title=title

block content
  div.container(style="width: auto;")

    if user

      for each,i in images
        div.col-md-4
          div#infocontainer
          p#info(style="font-weight: bold;") #{usernames[i]}
          p#info(style="font-weight: bold;") #{titles[i]}
        div.col-md-8#imagecontainer
          img(id="homepageimage", src=each, onclick="imageClick('/posts/#{posts[i]}')")
      script.
        function imageClick(url) {
          console.log(url)
          window.location = url;
        }
    else
      script.
        document.getElementById("homepageBackground").style.background = 'url("http://marketingland.com/wp-content/ml-loads/2013/11/e-commerce-retail-ss-1920.jpg")';
        document.getElementById("navbar").style.visibility="hidden";
      div.jumbotron#homepage
        h1#homepage InsTrade
        h2#homepage A new way of trading.
        p#homepage
          a.btn.btn-primary(href="/login") Login now
        p#homepage
          span.small Don't have an account?
          span &nbsp;
          a.small(href="/register") Register now
