include mixins/comment

html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
  body
    div.container

      div.page-header
        h1=post_data.Title_of_post
        h5
          p
            | Posted by 
            a(href='../stranger/'+post_data.User_id) #{post_data.Username}
            |  on #{post_data.Time}
        img.img-circle(src='../'+post_data.User_pic+'?dim=60x60')

      div.row
        div.col-md-4
          img.img-responsive.img-rounded(src='../'+post_data.Image_path)
        div.col-md-4
          div.page-header(style="margin-top:-20px")
            h3=post_data.Title_of_post
            h4 Price: $#{post_data.Price}
          p=post_data.Description
          button.btn.btn-primary(type="button", style="width:50%;") Buy

      div.row
        h3 Comments
        each val in post_data.Comments
          +comment(val.user_pic, val.user_id, val.user_name, val.text)
        div.container
          form(method='post')
            input(name='_csrf', type='hidden', value=csrfToken)
            img.img-circle(src='../'+user_data.User_pic+'?dim=40x40')
            textarea(name="comment", rows="1", style="height:30px; vertical-align: middle;", placeholder="Write a comment...")
            button.btn.btn-sm.btn-default(type="submit") Publish

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Your item has been posted
