include mixins/comment

extends ./layout.jade

block title
  title=title

block content

    div.container(style="width: auto;")

      div.page-header
        h1#discoverhead #{post_data.Title_of_post}
        h5

      div#newpost

        if saved
          div.alert.alert-success
            span
              strong Congratulations! 
              | Your paiment was accepted. You successfully bought this item. Check your mailbox, you'll receive it soon!

        if errors
          each error in errors
            div.alert.alert-danger
              span #{error.error}

        div.col-md-3#postcutter
          if user_data.User_id.split("/")[5] == post_data.User_id
            p#post
              | Posted by 
              a(href='../user') #{post_data.Username}
            p#post
              |  on #{post_data.Time}
            a(href='../user')
              img.img-circle(style="width: 60px;" src='../'+post_data.User_pic)
          else
            p#post
              | Posted by 
              a(href='../stranger/'+post_data.User_id) #{post_data.Username}
            p#post
              |  on #{post_data.Time}
            a(style="float: right;" href='../stranger/'+post_data.User_id)
             img.img-circle(style="width: 60px;" src='../'+post_data.User_pic)


        div.col-md-9
          div.col-md-6
            img.img-responsive(src='../'+post_data.Image_path)
          div.col-md-6
            h3=post_data.Title_of_post
            h4 Price: $#{post_data.Price}
            p=post_data.Description
            if sold
              h3
                span.label.label-danger This item has been sold
            else
              form(method='post')
                input(name='_csrf', type='hidden', value=csrfToken)
                input(name='type', type='hidden', value='buy')
                button.btn.btn-primary(type="submit", style="width:50%;") Buy

          div.col-md-12#commentscutter
            div.container(style = "width:350px;margin-left:-20px")
              div.col-md-8(align="left")
                h4(style="margin-left: 10px;") Comments (#{post_data.Comments.length})
              div.col-md-4(align="right")
                div.container(style="width:140px")
                  div.col-md-4(align="right",style="margin-left:0px")
                    h4(style="color:black") Like
                  div.col-md-4(align="left")
                    h4 (#{post_data.Likes})
                  div.col-md-4(style="margin-top:9px;")
                    form(method="post")
                      input(name='_csrf', type='hidden', value=csrfToken)
                      input(name='type', type='hidden', value='like')
                      if post_data.Has_liked == 'true'
                        img.img-circle(src='../images/like.jpg',style="width:20px;height=20px;")
                      else
                        input(type="image",src="../images/like.jpg",alt="Submit",width="20px",height="20px")
            div.container
              each val in post_data.Comments
               +comment(val.user_pic, val.user_id, val.user_name, val.text, user_data.User_id.split('/')[5])
            div.container(style="margin-left:15px")
              form(name='comment', method='post')
                input(name='_csrf', type='hidden', value=csrfToken)
                input(name='type', type='hidden', value='comment')
                img.img-circle(style="width: 40px;" src='../'+user_data.User_pic)
                textarea(name="comment", rows="1", style="margin-left: 10px; height:25px; vertical-align: middle;", placeholder="Write a comment...")
                button.btn.btn-sm.btn-default(style="margin-left: 10px;" type="submit") Publish
