include mixins/comment

extends ./layout.jade

block title
  title=title

block content

    div.container

      div.page-header
        h1=post_data.Title_of_post
        h5
          p
            | Posted by 
            a(href='../stranger/'+post_data.User_id) #{post_data.Username}
            |  on #{post_data.Time}
        a(href='../stranger/'+post_data.User_id)
          img.img-circle(src='../'+post_data.User_pic+'?dim=60x60')

      if saved
        div.alert.alert-success
          span
            strong Congratulations! 
            | Your paiment was accepted. You successfully bought this item. Check your mailbox, you'll receive it soon!

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}

      div.row
        div.col-md-4
          img.img-responsive.img-rounded(src='../'+post_data.Image_path)
        div.col-md-4
          div.page-header(style="margin-top:-20px")
            h3=post_data.Title_of_post
            h4 Price: $#{post_data.Price}
          p=post_data.Description
          if sold
            h3
              span.label.label-danger This item has been sold
          else
            form(method='post')
              input(name='_csrf', type='hidden', value=csrfToken)
              input(name='type', type='hidden', value='buy')
              button.btn.btn-primary(type="submit", style="width:50%;") Buy

      div.row
        h3 Comments
        each val in post_data.Comments
          +comment(val.user_pic, val.user_id, val.user_name, val.text)
        div.container
          form(name='comment', method='post')
            input(name='_csrf', type='hidden', value=csrfToken)
            input(name='type', type='hidden', value='comment')
            img.img-circle(src='../'+user_data.User_pic+'?dim=40x40')
            textarea(name="comment", rows="1", style="height:30px; vertical-align: middle;", placeholder="Write a comment...")
            button.btn.btn-sm.btn-default(type="submit") Publish

