
include mixins/comment
extends ./layout.jade
block title
	title=title
block content
		div.container
					if user
						div.col-md-6(align = "center")
							div.page-header(style="margin-top:10px")
							img.img-circle(src='../'+User_pic+'?dim=60x60')
							h5
								p
								a(href='../stranger/'+strangerData.href.split("/")[5]) #{strangerData.fullName}
							form(name = 'form1', method = "post")
								input(name='posts',type='hidden',value=posts)
								input(name='following',type='hidden',value=following)
								input(name='followers',type='hidden',value=followers)
								input(name='stranger_href', type='hidden',value=strangerData.href)
								input(name='user_pic',type='hidden',value=User_pic)
								if clickable == 'false'
									input(name= 'button1',type = "submit", value = "following")
								else
									input(name= 'button1',type = "submit", value = "follow")
						div.col-md-6(align = "left")
							div.page-header(style="margin-top:30px")
							div.col-md-3(align = "center")
								p posts
								h5 #{posts}
							div.col-md-3(align = "center")
								p followers
								h5 #{followers}
							div.col-md-3(align = "center")
								p following
								h5 #{following}
						div.container
						#results
							for picture in results	
								include user_home
					



					
					else
						p
							Welcome to my app, ready to get started?
						p 
							a.btn.btn-primary(href="/login") Login now
						p
							span.small Don't have an account?
							span &nbsp;
							a.small(href="/register") Register now
